## Getting Top rated Music videos from IMDB Website by Web scraping using Python

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
source = requests.get("https://www.imdb.com/search/title/?title_type=music_video")
source.raise_for_status()
soup = BeautifulSoup(source.text, "html.parser")
mvideos = soup.find("div", class_="lister-list").find_all("div",class_="lister-item mode-advanced")

In [4]:
name = []
rank = []
year = []
runtime= []
rating=[]
for video in mvideos:
    n = video.find("div", class_="lister-item-content").a.text
    name.append(n)
    rk = video.find('div', class_="lister-item-content").span.text.strip('.')
    rank.append(rk)
    y = video.find('span', class_="lister-item-year text-muted unbold").text.strip('()').split(' ')[0]
    year.append(y)
    rt = video.p.get_text(strip=True).split("|")[0]
    runtime.append(rt)
    rg = video.find('div', class_="ratings-bar").strong
    rating.append(rg)

In [5]:
videosdf = pd.DataFrame({"Rank": rank, 
                         "Music_Video": name, 
                         "Year_Of_Release": year, 
                         "Duration": runtime, 
                         "IMDB_Rating":rating})
videosdf.head()

,Rank,Music_Video,Year_Of_Release,Duration,IMDB_Rating
0,1,Taylor Swift: Bad Blood,2015,Not Rated,[7.3]
1,2,Fergie: M.I.L.F. $,2016,4 min,[5.2]
2,3,Michael Jackson: Thriller,1983,PG,[8.7]
3,4,Miles Teller: Great Balls of Fire,2022,2 min,[8.3]
4,5,Rita Ora: You Only Love Me,2023,3 min,[6.4]

In [6]:
# videosdf.to_csv('Music_videos_from_IMDB.csv', index=None)